*
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
body
{
    margin: 0;
}
nav 
{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000d;
    width: 1920px;
    height: 130px;
   
}
.header
{
    display: flex;   
}
.header-name
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}  
.header-icon
{
    width: 86.041px;
    height: 40px;
    object-fit: cover;
    margin-right: 24px;
    
}
.header-about a
{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.header-about
{
    width: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}
.follow-btn
{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title
{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

/* Banner contain*/

.banner
{
    display: flex;
    width: 1920px;
    height: 700px;
        

}
.banner-contain
{
    text-align: center;
    width: 901px;
    height: 700px;
    background-image: url("../images/Group 14.png");

}
.banner-img
{
    padding-left: 35px;
    margin-left: 200px;
    
}

.banner-title
{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 100px;
    
}
.banner-header
{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.banner-option
{
    list-style-type: none;
    text-align: left;
    padding-left: 280px;
}
.Sign-in
{
    padding: 21px 40px;
    border-radius: 48px;
    background:  #FF42A5 ;
    border-style: none;
}
.go-btn
{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
}
.btn-text
{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Online game img */
.online-game
{
    width: 1920px;
    height: 700px;
}

.online-game-contain
{
    text-align: center;

}
#online-title
{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}
#online-title-style
{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
#online-discription
{
    padding-top: 5px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.online-img
{
    padding-top: 25px;
    display: flex;
    gap: 24px;
    padding-left: 230px;

   
}

.online-img1
{
    width: 342px;
    height: 400px;
    align-items: center;
    justify-content: center;

   
}

.online-para
{
    max-width: 342px;
    max-height: 60px;
    text-align:justify;

} 
.container {
    position: relative;
  }
  
  .image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
  left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
.img-para
{
    gap: 24px;
}
/* play instent */
.play-instent
{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 250px;
    width: 1920px;
}
.img-instent
{
    position: relative;
    width: 50%;
}
.img-big
{
    width: 634.833px;
    height: 650px;
    border-radius: 8px;

    
    
}
.img-small
{
    
    width: 318.5px;
    height: 365.083px;
    position: absolute;
    right: 500px;
    top: 2000px;
   


}
.play-instent-title
{
    
    font-size: 48px;
    font-weight: 700;
}
.play-instent-discription
{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    width: 50%;
}
/* games and icons */
.games
{
    width: 1920px;
    height: 427px;
    display: grid;
    grid-template-columns:repeat(5 , 1fr);
    justify-content:right;
}
.game-design
{
    width: 243px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items:center;

}

footer
{
height: 636px;
width: 1920px;
background-color:#0B0223;
padding-top: 120px;

}
.footer-name
{
    display: block; 
    align-items: center;
    justify-content: center;

}
.footer-contain
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-title
{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}

.footer-ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 80px;
    color: #FFF;
    
}
.footer-para
{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-left: 760px;
} 