*
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
body
{
    margin: 0;
}
nav 
{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000d;
    width: 1920px;
    height: 130px;
   
}
.header
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;    
}
.header-name
{
    font-size: 45px;
    font-weight: 700;
    padding-left: 100px; 
    width: 50%;
    align-items: center;
    display: flex;
    gap: 24px;
    
}  
.header-icon
{
    width: 86.041px;
    height: 40px;
    object-fit: cover;
    
}
.header-about a
{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.header-about
{
    width: 50%;
    display: flex;
    gap: 25px;
    justify-content: right;
    padding-right: 100px; 
    align-items: center;
    
}
.follow-btn
{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner contain*/
.banner
{
    display: flex;
    width: 1920px;
    height: 700px;
        

}
.banner-contain
{
    text-align: center;
    width: 901px;
    height: 700px;
    background-image: url("../images/Group 14.png");

}
.banner-img
{
    padding-left: 35px;
}

.banner-title
{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 100px;
    
}
.banner-header
{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.banner-option
{
    list-style-type: none;
    text-align: left;
    padding-left: 280px;
}
.Sign-in
{
    padding: 21px 40px;
    border-radius: 48px;
    background:  #FF42A5 ;
    border-style: none;
}
.go-btn
{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
}
.btn-text
{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Online game img */
.online-game
{
    width: 1920px;
    height: 700px;
}

.online-game-contain
{
    text-align: center;

}
#online-title
{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}
#online-title-style
{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
#online-discription
{
    padding-top: 5px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.online-img
{
    padding-top: 25px;
    display: flex;
    gap: 24px;
    padding-left: 230px;

   
}

.online-img1
{
    width: 342px;
    height: 400px;
    align-items: center;
    justify-content: center;

   
}

.online-para
{
    max-width: 342px;
    max-height: 60px;
    text-align:justify;

} 

.img-para
{
    gap: 24px;
}
/* play instent 
.play-instent
{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 250px;
}
.play-instent-title
{
    
    font-size: 48px;
    font-weight: 700;
}
.play-instent-discription
{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    width: 353px;
}
/* games and icons 
.games
{
    width: 1920px;
    height: 427px;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    
}
.game-design
{
    width: 243px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items:center;

}

footer
{
height: 636px;
width: 1920px;
background-color:#0B0223;
padding-top: 120px;

}
.footer-name
{
    display: block;
    text-align: center;  
    

}
.footer-contain
{
    display: flex;
    align-items: center;
    justify-content: center
}
#footer-title
{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}


.footer-ul
{
    display: flex;
    gap: 24px;
    color: #FFF;
    align-items: center;
    justify-content: center
}
.footer-para
{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
} */
