
/*  */
@media screen and (max-width:425px)
{
    nav 
{
    box-shadow: none;
   
}
   .header
    {
        flex-direction: column;
    }
    .header-about
    {
        flex-direction: column;
    }
  .header-name
    {
       margin-left: 200px;
    }

    .banner
{
    flex-direction: column;
    padding-left: 600px;

}
.banner-contain
{
   margin-top: 300px;
}

.online-game-contain
{
    margin-top: 1000px;

}

.online-img
{
    flex-direction: column;
    padding-left: 800px;
}

   
}