
/* For Phone */
@media screen and (max-width:576px)
{
    nav 
{
    box-shadow: none;
   
}
   .header
    {
        flex-direction: column;
        
    }
    .header-name
    {
       justify-content: center;
        width: 100%;
    }
    .header-about
    {
        flex-direction: column;
        width: 100%;
        margin-bottom: 300px;
    }
    /* Banner Part */

    .banner
{
  
    flex-direction: column;
    margin-top: 600px;
    justify-content: center;
    align-items: center;

}
.banner-img  , .banner-contain
{
    justify-content: center;
    align-items: center;

}

.online-game-contain
{
    margin-top: 600px;

}

.online-img
{
    flex-direction: column;
    padding-left: 800px;
}

.play-instent
{
    flex-direction: column;  

}
.instent-discripton
{
    margin-top: 1400px;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}
.img-instent
{
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}
.games
{
    flex-direction: column;
    flex-wrap: wrap;
}

/* play instent */
.play-instent
{
    flex-direction: column;
}
.img-instent
{
    align-items: center;
    justify-content: center;
}
   
}



/* For tablet */
@media screen and (min-width:576px) and (max-width:992px)
{
    nav 
{
    box-shadow: none;
   
}
   .header
    {
        flex-direction: column;
        
    }
    .header-name
    {
       justify-content: center;
        width: 100%;
    }
    .header-about
    {
        flex-direction: column;
        width: 100%;
        margin-bottom: 300px;
    }
    /* Banner Part */

    .banner
{
  
    flex-direction: column;
    margin-top: 600px;
    justify-content: center;
    align-items: center;

}
.banner-img  , .banner-contain
{
    justify-content: center;
    align-items: center;

}

.online-game-contain
{
    margin-top: 600px;

}

.online-img
{
    flex-direction: column;
    padding-left: 800px;
}

.play-instent
{
    flex-direction: column;  

}
.instent-discripton
{
    margin-top: 1400px;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}
.img-instent
{
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}
.games
{
    flex-direction: column;
    flex-wrap: wrap;
}

/* play instent */
.play-instent
{
    flex-direction: column;
}
.img-instent
{
    align-items: center;
    justify-content: center;
}
   
}
